src/main/resources/shangtech-dao-sql.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.shangtech.net/schema/sqls" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xsd:element name="sqls">
		
	</xsd:element>
	<xsd:element name="sql">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="sqls"></xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id" type="string"/>
			<xsd:attribute name="template" type="boolean"/>
		</xsd:complexType>
	</xsd:element>
</schema>